h1 {
    display: flex;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    display: flex;
    text-align: center;
    font-family: 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.container5 {
    height: 10em;
    display: flex;
    align-items: center;
    margin: 0;
}  
